/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*-----Base Styles (element selectors; color, typography)-----*/
/*-----Paletton URL: http://paletton.com/#uid=54v0u0kiCFn8GVde7NVmtwSqXtg-----*/
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.2222222222222em; /* 22px / 18 px = 1.2222222222222em */
  padding: 1.2222222222em; /* 22 / 18 = 1.2222222222 */
  color: #EEE;
  background-color: #9E1993;
}

h1 {
  font-size: 1.688em; /* 27px / 16px = 1.688em */
  line-height: 1.6296296296296296em; /* 44px / 27px = 1.6296296296296296em */
  text-align: center;
  display: block;
  border-radius: 0.625em; /* 10px / 16px = 0.625em */
  border: 2px solid #220A29; /* 2px / 16px = 0.125em */
  background-color: rgba(142, 139, 224, 1);
}

p {
  font-size: 0.875em; /* 14px / 16px = 0.875em */
  line-height: 1.125em; /* 18px / 16px = 1.125em */
  padding-bottom: 1em; /* 16px / 16 px = 1em */
  text-align: center;
  margin-top: 0.75em;
}

img {
  display: block;
  max-width: 100%;
  padding-bottom: 1em; /* 16px / 16px = 1em; */
}

/*-----Module/Modular (class or descendent selectors; repeating specific styles)-----*/
input,
label {
  display: block;
  box-sizing: border-box;
}

input {
  font-size: inherit;
  line-height: inherit;
  padding: 1.2222222222em; /* 22px / 18px = 1.2222222222em */
  outline: 0;
  width: 100%;
  margin: 0;
  border: 0;
}

/* attribute selectors */
input[type="text"],
input[type="email"] {
  margin-bottom: 0.75em;
  background-color: rgba(208, 180, 240, 1);
}

/* set color of input field when focused */
input[type="text"]:focus,
input[type="email"]:focus {
  background-color: #EEE;
}

/* set color for submit button when enabled */
input[type="submit"] {
  background-color: rgba(142, 139, 224, 1);
}

/* set color for submit button when disabled */
input[type="submit"]:disabled {
  background-color: rgba(49, 45, 163, 0.3);
}

.height-gallery li {
  width: 15%;
  height: 15%;
}

.hedgie-gallery {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

/* media query for larger viewports */
@media all and (min-width: 501px) {
  .hedgie-gallery li {
    width: 50%;
  }

  .hedgie-gallery {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding-bottom: 0.65em;
  }
}
